<section class="flex flex-col">

  <div class="mt-24 mb-40 lg:mb-96 lg:grid lg:grid-cols-3 lg:mt-0">
    <div>
      <%= image_tag "nutriwiselogo.png", class: "animate-in slide-in-from-top-96 fade-in-0 duration-2s lg:w-56 lg:h-56" %>
      <div class="hidden lg:block">
        <p class="animate-in slide-in-from-left-96 fade-in-0 duration-2s text-mainColor2 font-poppins xl:text-xl 2xl:text-2xl">NutriWise
          is a
          mobile application that scans food to provide detailed
          nutritional
          information and health
          benefits. Designed to combat child stunting, it helps users make informed dietary choices by leveraging
          AI-powered food recognition, real-time data, and user friendly tools to promote better nutrition and healthier
          lives.</p>
        <div class="lg:flex lg:pt-4 lg:pb-4 lg:mt-28">
          <%= link_to "Learn More", new_session_path, class: "animate-in slide-in-from-bottom-96 fade-in-0 duration-2s p-4 text-white bg-mainColor2 rounded-3xl w-60 text-center" %>
        </div>
      </div>
    </div>
    <div class="hidden lg:block lg:col-span-2">
      <div class="animate-in fade-in-0 duration-4s lg:flex lg:flex-row-reverse lg:mt-8 xl:text-2xl">
        <%= link_to "Signup", new_session_url, class: "p-4 text-mainColor2 font-poppins font-bold" %>
        <%= link_to "Contact", new_session_url, class: "p-4 text-mainColor2 font-poppins font-bold" %>
        <%= link_to "Home", new_session_url, class: "p-4 text-mainColor2 font-poppins font-bold" %>
        <%= link_to "About", new_session_url, class: "p-4 text-mainColor2 font-poppins font-bold" %>
      </div>
      <div>
        <div class="animate-in fade-in-0 duration-4s bgImage">
          <!--          <p>This is BG IMAGE</p>-->
        </div>
      </div>
    </div>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out rounded-lg bg-mainColor2 mt-20 lg:mt-48">
    <p class="font-poppins p-4 text-white">Di Indonesia, berdasarkan data Asian Development Bank, pada tahun 2022
      persentase
      Prevalence of
      Stunting Among
      Children Under 5 Years of Age di Indonesia sebesar 31,8 persen. Jumlah tersebut, menyebabkan Indonesia berada
      pada
      urutan ke-10 di wilayah Asia Tenggara.</p>
    <p class="font-poppins p-4 text-white text-end">
      <cite>"Jesica Deviana"</cite>
    </p>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo2.png" %>
    <p class="font-poppins text-base text-center font-bold">BERSAMA NUTRIWISE, CEGAH STUNTING SEJAK DINI</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo3.png" %>
    <p class="font-poppins text-base text-center font-bold">DAPATKAN SARAN TERBAIK UNTUK MENCEGAH STUNTING</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo4.png" %>
    <p class="font-poppins text-base text-center font-bold">SCAN FOTO UNTUK MENEMUKAN INFO GIZI MAKANAN</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo5.png" %>
    <p class="font-poppins text-base text-center font-bold">AYO MULAI UNTUK MENUJU INDONESIA EMAS</p>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-bottom-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <div class="flex justify-center items-center">
      <%= link_to "Mulai Perjalanan Anda", new_session_path, class: "font-poppins p-4 text-center text-white bg-mainColor2 rounded-xl w-72" %>
    </div>
  </div>
</section>