<section class="flex flex-col ">

  <div class="animate-in slide-in-from-top-96 fade-in-0 duration-2s mt-24 mb-40">
    <%= image_tag "nutriwiselogo.png" %>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out rounded-md bg-mainColor2 mt-20">
    <p class="font-poppins p-4 text-white">Di Indonesia, berdasarkan data Asian Development Bank, pada tahun 2022
      persentase
      Prevalence of
      Stunting Among
      Children Under 5 Years of Age di Indonesia sebesar 31,8 persen. Jumlah tersebut, menyebabkan Indonesia berada
      pada
      urutan ke-10 di wilayah Asia Tenggara.</p>
    <p class="font-poppins p-4 text-white text-end">
      <cite>"Jesica Deviana"</cite>
    </p>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo2.png" %>
    <p class="font-poppins text-base text-center font-bold">BERSAMA NUTRIWISE, CEGAH STUNTING SEJAK DINI</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo3.png" %>
    <p class="font-poppins text-base text-center font-bold">DAPATKAN SARAN TERBAIK UNTUK MENCEGAH STUNTING</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo4.png" %>
    <p class="font-poppins text-base text-center font-bold">SCAN FOTO UNTUK MENEMUKAN INFO GIZI MAKANAN</p>
  </div>

  <hr>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <%= image_tag "logo5.png" %>
    <p class="font-poppins text-base text-center font-bold">AYO MULAI UNTUK MENUJU INDONESIA EMAS</p>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-bottom-14 fade-in-0 duration-2s ease-in-out mt-16 mb-24">
    <div class="flex justify-center items-center">
      <%= link_to "Mulai Perjalanan Anda", new_session_path, class: "font-poppins p-4 text-center text-white bg-mainColor2 rounded-xl w-72" %>
    </div>
  </div>
</section>