<section class="h-full flex justify-center items-center">
  <div class="md:w-2/3 w-full">
    <% if alert = flash[:alert] %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    <% end %>

    <% if notice = flash[:notice] %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="text-center font-bold text-4xl">Register</h1>

    <%= form_with url: register_index_path, class: "contents" do |form| %>
      <div class="my-5">
        <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your name", value: params[:name], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <div class="inline text-center">
          <%= form.submit "Register", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        </div>

        <div class="mt-4 text-sm text-gray-500 sm:mt-0">
          <%= link_to "Have an account ?", new_session_path, class: "text-gray-700 underline" %>
        </div>
        <div class="mt-4 text-sm text-gray-500 sm:mt-0">
          <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
